@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");

:root {
  --pink-logo: rgb(252, 1, 143);
  --azul-celeste: rgb(142, 216, 250);
  --rosa: rgb(255, 174, 201);
  --rosa-bebê: rgb(244, 226, 230);
  --cinza: rgb(99, 97, 97);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--azul-celeste);
  position: relative;
  overflow: visible;
}

header {
  background-color: var(--rosa-bebê);
  height: 8rem;
  color: var(--pink-logo);
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0.2rem 0.2rem 0.8rem gray;
}

.logo {
  width: 30%;
}
header img {
  width: 30%;
  height: 6rem;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
}

nav {
  width: 70%;
}

nav ul {
  --_gap: 6rem;
  display: flex;
  justify-content: end;
  margin-right: 8rem;
  flex-direction: row;
  list-style: none;
}

nav li {
  overflow: hidden;
  position: relative;
  padding-inline: calc(var(--_gap) / 2);
  opacity: 0.7;
}

nav li:hover {
  opacity: 1.2;
  letter-spacing: 1px;
}

nav li::after {
  content: "";
  display: block;
  width: 0;
  height: 0.3rem;
  border-radius: 2rem;
  background: linear-gradient(to right, var(--rosa) 30%, var(--pink-logo));
  transition: all 0.8s ease;
}

nav li:hover::after {
  width: 100%;
}

nav a {
  font-family: "Tinos", serif;
  color: var(--pink-logo);
}

main {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#tkt-msg,
.ticket {
  width: 80%;
  height: 85%;
  box-shadow: 0.5rem 0.5rem 1rem gray;
  border-radius: 1rem;
  display: flex;
  background-color: var(--azul-celeste);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  position: absolute;
  text-align: center;
  color: var(--pink-logo);
  font-size: 2.5rem;
}
#tkt-msg {
  z-index: 999;
}

#view-tkt {
  font-family: "Tinos", serif;
  font-size: 2rem;
  font-weight: 600;
  color: var(--pink-logo);
  padding: 0.8rem 1.8rem;
  background-color: var(--rosa);
  outline: none;
  border: none;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.8rem gray;
}
#view-tkt:hover {
  box-shadow: inset 0.2rem 0.2rem 0.8rem gray;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: var(--rosa-bebê);
  color: var(--pink-logo);
  font-size: 1.6rem;
  font-family: "Tinos" serif;
  font-weight: 550;
  text-align: center;
  bottom: 0;
  box-shadow: 0.2rem 0.2rem 0.8rem gray;
  opacity: 0.9;
}
@media all and (max-width: 1030px) {
  header img {
    width: 28%;
    height: 4.5rem;
  }
  nav ul {
    --_gap: 5rem;
  }

  nav li {
    padding-inline: calc(var(--_gap) / 2);
  }

  nav a {
    font-size: 2.5rem;
  }
}
.ticket {
  font-size: 2rem;
}
@media all and (max-width: 768px) {
  header img {
    width: 28%;
    height: 4.5rem;
  }
  nav ul {
    --_gap: 0.5rem;
    margin-right: 4rem;
  }

  nav li {
    padding-inline: calc(var(--_gap) / 2);
    margin-left: 2rem;
  }

  nav a {
    font-size: 1.8rem;
  }
}

@media all and (max-width: 430px) {
  header img {
    width: 5rem;
    height: 4rem;
  }
  nav ul {
    --_gap: 0.7rem;
    margin-right: 1rem;
  }

  nav li {
    padding-inline: calc(var(--_gap) / 2);
    margin: 0;
  }

  nav a {
    font-size: 1.3rem;
  }
  .ticket {
    font-size: 1.7rem;
  }
  footer {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 360px) {
  header {
    display: block;
    height: 6.5rem;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
    height: 3.8rem;
  }
  nav {
    width: 100%;
  }
  nav ul {
    --gap: 2rem;
    transform: translateX(-4rem);
  }
  .ticket {
    font-size: 1.7rem;
    padding: 1rem;
  }
  #tkt-msg {
    font-size: 1.5rem;
  }
  #view-tkt {
    font-size: 1.3rem;
  }
}
